body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}


.shoeList{
 	margin-left: 27% ! important;
    background-color: #fff;
    margin-bottom:10px;
    border: solid 1px #f2e9e9;
    font-weight: normal;
    font-size: 15px;
    font-family: sans-serif;
}

.orangeLink{
	color: orange;
	font-size: 12px;
}
