body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}


.shoeList{
    background-color: #fff;
    border: solid 1px #f2e9e9;
    font-weight: normal;
    font-size: 15px;
    font-family: sans-serif;
}

.cart{
  border-top: solid 1px #f2e9e9;
}

.orangeLink{
	color: orange;
	font-size: 12px;
}

.cartFont{
	font-weight: bold;
}

.cartItems{
	font-size: 8px;
}
